<%= render "shared/header" %>
  <div class="song-main">
    <%= form_with(model: @spot, local: true, class: "song-form") do |f| %>
      <%# <%= render 'shared/error_messages', model: f.object %> %>
      <h2>投稿画像</h2>
        <%= f.file_field :image, id:"spot-image" %>
      
        <h2>施設名入力欄</h2>
        <%= f.text_field :title,class:"form-control", placeholder: "施設名を入れて下さい" %>

        <h2>施設情報入力欄</h2>
        <%= f.text_field :description,class:"form-control", placeholder: "施設の情報を入力して下さい" %>

        <h2>住所入力欄</h2>
        <%= f.text_field :adress,class:"form-control", placeholder: "住所を入力して下さい" %>

        <h2>価格入力欄</h2>
        <p><%= f.text_field :price,class:"form-control", placeholder: "金額を半角数字で入力して下さい" %>円</p>
        
        <%= f.submit "投稿する" ,class:"song-btn" %>
    <% end %>
  </div>
<%= render "shared/footer" %>


