<%= render "shared/header" %>
  <div class="song-main">
    <%= form_with(model: @spot, local: true, class: "song-form") do |f| %>
      <%# <%= render 'shared/error_messages', model: f.object %> %>
      <h2>投稿画像</h2>
      <div class="click-upload">
        <%= f.file_field :image, id:"spot-image" %>
      </div>
      
      <div class="songs-text">
        <div class="song-title">
          <h2>タイトル入力欄</h2>
          <%= f.text_field :title, class:"song-text", placeholder: "曲名を入れて下さい" %>
        </div>

        <div class = "song-artist">
          <h2>メモ入力欄</h2>
          <%= f.text_field :description, class:"song-text", placeholder: "アーティストを入力して下さい" %>
        </div>
        <div class = "song-artist">
          <h2>価格入力欄</h2>
          <%= f.text_field :price, class:"song-text", placeholder: "アーティストを入力して下さい" %>
        </div>
        <div class="songs-btn-contents">
          <%= f.submit "投稿する" ,class:"song-btn" %>
        </div>
      </div>
    <% end %>
  </div>
<%= render "shared/footer" %>
