<%= render "shared/header" %>

  <div class="spot-show">
    <div class="container py-4" id="works">
      <div class="card-deck">
        <div class="card">
          <%= image_tag @spot.image ,class:"card-img-top" %>
          <div class="card-body">
            <h5 class="card-title"><%= @spot.title %></h5>
            <h5 class="card-title"><%= @spot.address %></h5>
            <p class="card-text"><%= @spot.description %></p>
            <p class="card-text"><%= @spot.price %>円</p>
          </div>
        </div>
      </div>
    </div>

    


  <% if user_signed_in? %>
    <% if @spot.user_id == current_user.id %>
        <%= link_to '投稿の編集', edit_spot_path, method: :get ,class:"btn btn-danger"%>
      <p class='or-text'>or</p>
        <%= link_to '削除', spot_path, method: :delete,data: {confirm: "本当に削除しますか？"},class:"btn btn-danger"  %>
    <% end %>
  <% end %>

<h2>gmap</h2>

<!-- 地名入力用のinputを追加 -->
<input id="address" type="textbox" value="Sydney, NSW">

<!-- buttonをクリックしたらcodeAddressを実行　-->
<input type="button" value="Encode" onclick="codeAddress()">
<div id='map'>
</div>

<style>
#map{
  height: 400px;
}
</style>

<script>
/*
mapを関数の外で定義(codeAddressでも使うため)
geocoderを用意
*/

let map
let geocoder

function initMap(){
  // geocoderを初期化
  geocoder = new google.maps.Geocoder()

  map = new google.maps.Map(document.getElementById('map'), {
  center: {lat: -34.397, lng: 150.644},
  zoom: 8
  });
}

function codeAddress(){
  // 入力を取得
  let inputAddress = document.getElementById('address').value;

  // geocodingしたあとmapを移動
  geocoder.geocode( { 'address': inputAddress}, function(results, status) {
    if (status == 'OK') {
　　　　　　　　　　　　// map.setCenterで地図が移動
      map.setCenter(results[0].geometry.location);

　　　　　　　　　　　　// google.maps.MarkerでGoogleMap上の指定位置にマーカが立つ
      var marker = new google.maps.Marker({
          map: map,
          position: results[0].geometry.location
      });
    } else {
      alert('Geocode was not successful for the following reason: ' + status);
    }
  });
}
</script>
<script src="https://maps.googleapis.com/maps/api/js?key=<%= ENV['GOOGLE_MAP_API_KEY'] %>
&callback=initMap" async defer></script>





<%= render "shared/footer" %>
