<div class="chat-header">
  <div class="left-header">
    <div class="header-title">
      hogefuga
    </div>
  </div>
  <div class="right-header">
    <div class="header-button">
      <a href="#">チャットを終了する</a>
    </div>
  </div>
</div>

 <div class="container">

      <%# <div class="form">
        <div class="form-input">
          <input class="form-message" placeholder= "type a message">
          <label class="form-image">
            <span class="image-file">画像</span>
            <input type="file" class="hidden">
          </label>
        </div>
        <input class="form-submit" type="submit" value="送信">
      </div> %>
      <div class="container">
        <% if user_signed_in? %>
          <%= form_with(model: [@room, @message], local: true) do |f| %>
            <%= f.text_area :text, placeholder: "コメントする", rows: "2" %>
            <%= f.submit "SEND" %>
          <% end %>
        <% else %>
          <strong><p>※※※ コメントの投稿には新規登録/ログインが必要です ※※※</p></strong>
        <% end %>
      </div>

      <h4>＜コメント一覧＞</h4>
      <% @messages.each do |message| %>
        <p>
          <%# <strong><%= link_to message.user.name, "/users/#{message.user_id}" %>：</strong> %>
          <%= message.text %>
        </p>
      <% end %>
</div>

